//
// VISXIMAGEMAGICK.RC - resources Microsoft Visual C++ does not edit directly
//
//
// Copyright © 1998 Microsoft Corporation, All Rights Reserved

#include <winver.h>


#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...

#include "VisXImageMagickVersion.h"

#define VIS_SDK_PROJECT_DESCRIPTION			VIS_XIMAGEMAGICK_DESCRIPTION
#define VIS_SDK_PROJECT_BASE_NAME			VIS_XIMAGEMAGICK_BASE_NAME
#define VIS_SDK_PROJECT_DEBUG_BASE_NAME		VIS_XIMAGEMAGICK_DEBUG_BASE_NAME

#include "..\VisSDKVersion.rc"


/////////////////////////////////////////////////////////////////////////////
